<div class="catalog">
  <% Roottype.all.each do |roottype| %>
      <% parts = roottype.parts.limit(2) %>
      <h2 class="on-main"><%= link_to roottype.title, roottype_path(roottype.id) %></h2>
      <ul>
        <% parts.each do |part| %>
            <% counter = 0 %>
            <% part.types.each do |type| %>
                <% counter += type.items.where("public = ?", true).count %>
            <% end %>
            <% if !logged_in? && counter > 0 %>
                <li><h3><%= link_to "#{part.title}", part_path(part.id) %></h3></li>
            <% elsif logged_in? %>
                <li><h3><%= link_to "#{part.title}", part_path(part.id) %></h3></li>
            <% end %>

            <% types = Type.where(part_id: part.id) %>
            <div class="row row-centered">
              <% if types.first %>
                  <% types.each do |type| %>
                      <%= render partial: "types/card", :locals => {:type => type} %>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      </ul>
      <br>
  <% end %>
</div>
