<% breadcrumb :parts_order, @roottype %>
<% @parts.each_with_index do |part, index| %>
    <p>
      <% if index != 0 %>
          <%= link_to '', parts_up_order_path(part.id), :class => "btn-up" %>
      <% end %>
      <% if index != @parts.count-1 %>
          <%= link_to '', parts_down_order_path(part.id), :class => "btn-down" %>
      <% end %>
      <% if part.types.count > 0 %>
          <b><%= link_to part.title, types_order_path(part_id: part.id) %></b>
      <% else %>
          <b><%= part.title %></b>
      <% end %>
    </p>
<% end %>