<% breadcrumb :pellet %>
<h2><%= @pellet.first.section %></h2>
<ul>
  <% @pellet.each do |part| %>
      <li><%= link_to part.title, part_path(part.id) %></li>
  <% end %>
</ul>
<div class="catalog">
<ul>
  <% @pellet.each do |part| %>
      <li><h3><%= link_to "#{part.title} для пеллет", part_path(part.id) %></h3></li>
      <% @types = Type.where("part_id = ?", part.id) %>
      <div class="row">
        <% if @types.first %>
            <% @types.each do |type| %>
                <div class="col-md-2">

                  <%= link_to type.title, type_path(type.id) %>
                </div>
            <% end %>
        <% else %>
            <div class="col-md-2">
              Материалов нет
            </div>
        <% end %>
      </div>
      <hr>
  <% end %>
</ul>
</div>