<% breadcrumb :part, @part %>
<%= render 'admins/toolbar' %>
<div class="row">
  <%= render 'parts/items_tree_menu' %>
  <div class="col-md-9 catalog">
    <ul>
      <h3><%= @part.title %></h3>

      <div class="row row-centered">
        <div class="masonry">
          <% if @types.first %>
              <% @types.each do |type| %>
                  <%= render partial: "types/card", :locals => {:type => type} %>
              <% end %>
          <% else %>
              Материалов нет
          <% end %>
        </div>
      </div>
    </ul>
  </div>
</div>