<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Заявка на обратный звонок</h2>
<ul>
  <li>Имя: <%= @user[:name] %></li>
  <li>Телефон: <%= @user[:phone] %></li>
</ul>
</body>
</html>