<% breadcrumb :types_order, @part %>
<% @types.each_with_index do |type, index| %>
    <p>
      <% if index != 0 %>
          <%= link_to '', types_up_order_path(type.id), :class => "btn-up" %>
      <% end %>
      <% if index != @types.count-1 %>
          <%= link_to '', types_down_order_path(type.id), :class => "btn-down" %>
      <% end %>
      <% if type.items.count > 1 %>
          <b><%= link_to type.title, items_order_path(type_id: type.id) %></b>
      <% else %>
          <b><%= type.title %></b>
      <% end %>
    </p>
<% end %>