<% if @type.section_name == "Комбикормовое оборудование" %>
    <% breadcrumb :type_kombikorm, @type %>
<% else %>
    <% breadcrumb :type_pellet, @type %>
<% end %>

<%= link_to "Редактировать раздел", edit_type_path(@type), :class=>"btn btn-primary" %>
<%= link_to "Удалить раздел", @type, :class=>"btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>

<ul>
  <% if @items.first %>
      <% @items.each do |item| %>
          <li><%= link_to item.title, item_path(item.id) %></li>
      <% end %>
  <% else %>
      Нет материалов в данной категории
  <% end %>

</ul>