<% breadcrumb :actions %>
<% if logged_in? %>
    <p><%= link_to 'Добавить акцию', new_action_path, :class => "btn btn-item btn-primary" %></p>
<% end %>

<div id="my-tidings">
  <div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
  <div class="row tidings">
    <%= render @actions %>
  </div>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @actions %>
</div>
