<% if @asset.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Форма содержит <%= Russian::pluralize(@asset.errors.count, "ошибку", "ошибки", "ошибок") %>.
      </div>
      <ul>
        <% @asset.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>