<p><%= link_to 'Редактировать страницу', '#', :class => "btn btn-primary" %></p>
<p>
  Компания «Крауд НН» работает на российском рынке более 5 лет.

  Главной задачей «Крауд НН» является оснащение предприятий сельского хозяйства и перерабатывающей промышленности
  современным высококачественным оборудованием.

  В 2013 году мы открыли новое перспективное направление по производству и поставке оборудования для производства
  пеллет.


  Компания «КРАУД» имеет собственные производственные площади, расположенные в г. Нижнем Новгороде и г. Арзамасе. На
  производстве задействовано более 300 квалифицированных специалистов.

  Конструкторский отдел компании имеет возможность разработать схему любой сложности исходя из Ваших потребностей.

  Система поставки, пуско-наладочных работ и технического обслуживания оборудования полностью отработана для предприятий
  различных регионов страны. На складах нашей компании всегда в наличии запасные части и расходные материалы.

  Благодаря правильно выстроенной цепочке процессов, современному уровню технологии производства, расширенным испытаниям
  и квалифицированному персоналу мы обеспечиваем выпуск продукции, соответствующий всем требованиям клиентов, а во
  многом и превосходим ожидания Заказчиков.
</p>