<p><%= link_to 'Редактировать страницу', '#', :class => "btn btn-primary" %></p>

<div id="map" style='width: 100%; height: 400px;'></div>
<div class="row">
<div class="col-md-7">
  <h4>Оставьте ваш отзыв</h4>
</div>
<div class="col-md-5">
<ul class="contact">
  <li><i class="fa fa-phone"></i> +7 (831) 412-99-90</li>
  <li><i class="fa fa-clock-o"></i> 8-00 до 17-00 по Московскому времени</li>
  <li><i class="fa fa-envelope-o"></i> office@kraud.org</li>
  <li><i class="fa fa-arrows-alt"></i> 603105, г. Н. Новгород, ул. Агрономическая, д. 125А</li>
</ul>
</div>
</div>


<script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({internal: {id: 'map'}}, function () {
        var markers = handler.addMarkers([
            {lat: 56.32414, lng: 44.00149, infowindow: "Офис"},
            {lat: 56.2994, lng: 44.0249, infowindow: "Склад"}
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(13);
    });
</script>