<% breadcrumb :tidings %>
<% if logged_in? %>
    <p><%= link_to 'Добавить новость', new_tiding_path, :class => "btn btn-item btn-primary" %></p>
<% end %>

<div id="my-tidings">
  <div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
  <div class="row tidings">
    <%= render @tidings %>
  </div>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @tidings %>
</div>
