<h2>Отзывы клиентов</h2>
<% if @comments %>
    <% @comments.each do |comment| %>
        <% title = "<span class='comment-date'>дата публикации: #{comment.created_at.strftime("%d.%m.%y")}</span>".html_safe %>

        <div class="blog-item comment-item">
          <span class="quotes fa fa-quote-left fa-2x"></span>
          <p class="comment-author-title"><%= comment.name %> <%= title %></p>

          <p class="comment-body"><%= comment.body %></p>
        </div>

    <% end %>
<% end %>
<%= link_to "Добавить свой отзыв", new_comment_path, :class => "btn btn-default" %>