<% breadcrumb :photogal %>
<% if logged_in? %>
    <p>
      <%= link_to 'Добавить изображения', new_photogal_path, :class => "btn btn-primary" %>
    </p>
<% end %>
<div class="row">
    <% @photogals.each do |photogal| %>
        <% photogal.photogal_assets.each do |a| %>
          <div class="col-md-2 col-sm-5 photogal">
              <%= link_to image_tag(a.asset.url(:mikro)), a.asset.url(:normal), :rel => "gal", :title => a.asset_file_name.slice(0..(a.asset_file_name.index('.')-1)) %>
             <p> <%= link_to a.asset_file_name.slice(0..(a.asset_file_name.index('.')-1)), a.asset.url(:normal) %> /
               <% if logged_in? %>
                   <%= link_to 'Удалить', destroy_photogal_asset_path(photogal.id, a.id), data: {confirm: 'Вы уверены?'} %>
               <% end %>
             </p>
          </div>
        <% end %>
    <% end %>
</div>