$red: #841a1c;

.btn {
  margin-top: 1rem;
}

.btn-danger::after {
  font-family: FontAwesome;
  content: " \f014";
  padding-left: 0.5rem;
}

.btn-delete::before {
  font-family: FontAwesome;
  content: " \f014";
  color: $red;
  text-decoration: none;
}

.btn-delete:hover {
  text-decoration: none;
}

.btn-logout::after {
  font-family: FontAwesome;
  content: " \f08b";
  padding-left: 0.5rem;
}

.btn-image::after {
  font-family: FontAwesome;
  content: " \f1c5";
  padding-left: 0.5rem;
}

.btn-save::after {
  font-family: FontAwesome;
  content: " \f0c7";
  padding-left: 0.5rem;
}

.btn-upload::after {
  font-family: FontAwesome;
  content: " \f093";
  padding-left: 0.5rem;
}

.btn-item::after {
  font-family: FontAwesome;
  content: " \f016";
  padding-left: 0.5rem;
}

.btn-part::after {
  font-family: FontAwesome;
  content: " \f114";
  padding-left: 0.5rem;
}

.btn-type::after {
  font-family: FontAwesome;
  content: " \f115";
  padding-left: 0.5rem;
}

.btn-add::after {
  font-family: FontAwesome;
  content: "\f067";
  padding-left: 0.5rem;
  text-decoration: none;
}

.btn-edit::after {
  font-family: FontAwesome;
  content: " \f044";
  padding-left: 0.5rem;
  text-decoration: none;
}

.btn-edit:hover {
  text-decoration: none;
}

.btn-up::after {
  font-family: FontAwesome;
  content: "\f0de";
  padding-left: 0.5rem;
  text-decoration: none;
}

.btn-up:hover {
  text-decoration: none;
}

.btn-down::after {
  font-family: FontAwesome;
  content: "\f0dd";
  padding-left: 0.5rem;
  text-decoration: none;
}

.btn-down:hover {
  text-decoration: none;
}
