<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 random-text"><p> Качественно новый стандарт</p></div>
      <div class="col-lg-7 bottom-menu">
        <a href="#">Главная</a> |
        <a href="#">Каталог</a> |
        <a href="#">Новости</a> |
        <a href="#">Акции</a> |
        <a href="#">О компании</a> |
        <a href="#">Контакты</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-offset-4">
        <i class=" fa fa-home fa-4x"></i>
      </div>
      <div class="col-md-3">
        603105, Россия, Нижний Новгород <br>
        ул. Агрономическая, 125а <br>
        тел. +7 831 412-99-90
      </div>
      <div class="col-lg-2 col-md-offset-2">
        <%= image_tag("footer-logo.png", :alt => "footer logo", :size => "160x50") %>
      </div>
    </div>
  </div>
  </div>
  <div class="copyright">&#169 2014 Крауд. Все права защищены</div>
</footer>