<header>
  <div class="row">
    <div class="col-lg-3">
      <h1>LOGO</h1>
      <p>комбикормовое оборудование <br>
        пеллетное оборудование</p>
    </div>
    <div class="col-lg-5">
      <h2>производитель и поставщик</h2>
      <p>соверменного и высококачественного оборудования для сельского хозяйства</p>
    </div>
    <div class="col-lg-4">
      <h2></h2>
      <p>С 8:00 до 17:00 мо МCК (Сейчас работаем)</p>
      <i class="fa fa-phone fa-2x fa-fw tooltips"> <span>Нажмите, чтобы заказать обратный звонок</span></i> <span class="phone">+7 831 412-99-90</span>
    </div>
  </div>
</header>