<nav class="navbar navbar-default ">
  <ul class="nav navbar-nav top-menu">
    <li class="active"><a href="#5">ГЛАВНАЯ</a></li>
    <li><a href="#" class="drop">КАТАЛОГ</a>
      <div class="dropdown_3columns dropdown">
        <div class="col_1">
          <p>This is a 1 Column content</p>
        </div>
        <div class="col_1">
          <p>This is a 1 Column content</p>
        </div>
        <div class="col_1">
          <p>This is a 1 Column content</p>
        </div>
        <div class="col_1">
          <p>This is a 1 Column content</p>
        </div>
        <div class="col_1">
          <p>This is a 1 Column content</p>
        </div>
        <div class="col_1">
          <p>This is a 1 Column content</p>
        </div>
        <div class="col_3">
        </div>
      </div>
    </li>
    <li><a href="#2">НОВОСТИ</a></li>
    <li><a href="#1">АКЦИИ</a></li>
    <li><a href="#3">О КОМПАНИИ</a></li>
    <li><a href="#4">КОНТАКТЫ</a></li>
  </ul>
</nav>